name: "R: Lint"

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      CRAN: https://packagemanager.posit.co/cran/__linux__/noble/latest
      GITHUB_PAT: ${{ secrets.GH_PAT }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      ART_PGHOST: ${{ secrets.ART_PGHOST }}
      ART_PGPORT: ${{ secrets.ART_PGPORT }}
      ART_PGUSER: ${{ secrets.ART_PGUSER }}
      ART_PGPASS: ${{ secrets.ART_PGPASS }}
      ART_PGDATA: ${{ secrets.ART_PGDATA }}
      ART_PGHOST_SITE: ${{ secrets.ART_PGHOST_SITE }}
      ART_PGPORT_SITE: ${{ secrets.ART_PGPORT_SITE }}
      ART_PGUSER_SITE: ${{ secrets.ART_PGUSER_SITE }}
      ART_PGPASS_SITE: ${{ secrets.ART_PGPASS_SITE }}
      ART_PGDATA_SITE: ${{ secrets.ART_PGDATA_SITE }}
      ART_BUCKETS_KEY_ID: ${{ secrets.ART_BUCKETS_KEY_ID }}
      ART_BUCKETS_KEY_SECRET: ${{ secrets.ART_BUCKETS_KEY_SECRET }}
      ART_OPENAI_KEY: ${{ secrets.ART_OPENAI_KEY }}
      ART_OPENSEA_KEY: ${{ secrets.ART_OPENSEA_KEY }}
      ART_GEMINI_KEY: ${{ secrets.ART_GEMINI_KEY }}
      ART_RESEND_KEY: ${{ secrets.ART_RESEND_KEY }}

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Setup R (Latest)
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install R Dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::lintr, local::.
          needs: lint

      - name: Lint R Package
        run: lintr::lint_package()
        shell: Rscript {0}
        env:
          LINTR_ERROR_ON_LINT: false
