name: "R: Package Check"

on:
  workflow_call:
    inputs:
      tinytex:
        description: "Install TinyTeX and LaTeX packages for PDF vignettes"
        required: false
        default: false
        type: boolean

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    timeout-minutes: 40

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest, r: 'release'}

    env:
      R_KEEP_PKG_SOURCE: yes
      _R_CHECK_SYSTEM_CLOCK_: 0
      CRAN: https://packagemanager.posit.co/cran/__linux__/noble/latest
      GITHUB_PAT: ${{ secrets.GH_PAT }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      ART_BUCKETS_KEY_ID: ${{ secrets.ART_BUCKETS_KEY_ID }}
      ART_BUCKETS_KEY_SECRET: ${{ secrets.ART_BUCKETS_KEY_SECRET }}
      ART_PGHOST: ${{ secrets.ART_PGHOST }}
      ART_PGPORT: ${{ secrets.ART_PGPORT }}
      ART_PGUSER: ${{ secrets.ART_PGUSER }}
      ART_PGPASS: ${{ secrets.ART_PGPASS }}
      ART_PGDATA: ${{ secrets.ART_PGDATA }}
      ART_OPENAI_KEY: ${{ secrets.ART_OPENAI_KEY }}
      ART_GEMINI_KEY: ${{ secrets.ART_GEMINI_KEY }}
      ART_OPENSEA_KEY: ${{ secrets.ART_OPENSEA_KEY }}

    steps:
      - name: Set Repository Name
        id: vars
        run: echo "REPO_NAME=${{ github.event.repository.name }}" >> $GITHUB_ENV

      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Setup R (Latest)
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Setup TinyTeX
        if: ${{ inputs.tinytex }}
        uses: r-lib/actions/setup-tinytex@v2

      - name: Install R Dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - name: Install LaTeX packages
        if: ${{ inputs.tinytex }}
        run: |
          tinytex::tlmgr_install(c("tex-gyre", "tex-gyre-math", "fontspec", "luaotfload", "luatexbase"))
        shell: Rscript {0}

      - name: Run Package Check
        uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          build_args: 'c("--no-manual","--compact-vignettes=gs+qpdf")'
